<div class="bookings-show">
  <h1><%= @booking.caravan.model %></h1>
  <div class="d-flex justify-content-between">
    <div>
      <p><%= @booking.caravan.location %></p>
    </div>
    <div>
      <p>Year: <%= @booking.caravan.year.nil? ? "N/A" : @booking.caravan.year %> </p>
    </div>
    <div>
      <p>Fuel type: <%= @booking.caravan.fuelType.nil? ? "N/A" : @booking.caravan.fuelType %></p>
    </div>
    <div>
      <p><i class="fa-solid fa-users-between-lines"></i> <%= @booking.caravan.capacity %></p>
    </div>
    <div>
      <p><%= @booking.user.username  %></p>
    </div>
  </div>


  <div class="container-image-text">
        <div class="show-images-container-bookings">
          <% if @booking.caravan.photos.attached? %>
            <% @booking.caravan.photos.each do |photo| %>
            <div class="photo-img-booking" style="background-image: url('<%= cl_image_path photo.key, width: 560, height: 320, gravity: "center", crop: :fill%>')">
            </div>
            <% end %>
          <% end %>
        </div>
        <div class="description-icon">
          <div>
            <p><%= @booking.caravan.description %><%= @booking.caravan.description %><%= @booking.caravan.description %>
          </div>
          <div  style="">
            <% if @booking.caravan.user.profilePic.nil? %>
              <%= render "components/avatar_user" %></div>
            <% else %>
              <p><%= @booking.caravan.user.username %></p> <img <%= render "components/avatar_user" %> src=<%= @booking.caravan.user.profilePic %> alt="" class="avatar">
            <% end %>
          </div>
        </div>
  </div>
</div>

<br>
<br>
<br>
<br>
