<div class="caravans-index">
  <div class="bar">
    <h1>Current listing:</h1>
    <%= link_to "Add a listing", new_caravan_path , class: "btn btn-primary" %>
  </div>
  <div class="container">
    <div class="listing">
      <% @caravans.each do |caravan| %>
        <div class="box">
          <div><%= link_to caravan.model, caravan_path(caravan) %></div>
          <% if caravan.picture_url %>
            <%= link_to caravan_path(caravan) do %>
              <%= cl_image_tag caravan.picture_url, height: 300, width: 400, crop: :fill %>
              <%= link_to "Remove this listing", caravans_path(caravan), class: "btn btn-cancel", data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to delete this list?" } %>
            <% end %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
