<div class="caravans-show">
  <div class="head">
    <h1><%= @caravan.model %></h1>
    <div class="btn edit-btn"><%= link_to "Edit listing", edit_caravan_path, class: "edit" %></div>
  </div>
  <div class="d-flex justify-content-between">
    <div>
      <p><i class="fa-solid fa-location-dot"></i> <%= @caravan.location %></p>
    </div>
    <div>
      <p><i class="fa-solid fa-van-shuttle"></i> <%= @caravan.user.username %></p>
    </div>
  </div>
  <div class="show-images-container">
    <% if @caravan.photos.attached? %>
      <% @caravan.photos.each do |photo| %>
        <div class="photo-img" style="background-image: url('<%= cl_image_path photo.key, crop: :fill%>')"></div>
      <% end %>
    <% end %>
  </div>
  <div class="show-info-container">
    <div class="info-header d-flex justify-content-between">
      <div>
        <h3>Caravan rented out by <%= @caravan.user.username %></h3>
        <p><i class="fa-solid fa-user"></i> <%= @caravan.capacity %></p>
      </div>
      <div>
        <% if @caravan.user.photo.present? %>
          <%= cl_image_tag @caravan.user.photo.key, class: "avatar" %>
        <% else %>
          <%= image_tag "https://www.pngall.com/wp-content/uploads/12/Avatar-Profile-Vector-PNG-Cutout.png", style:"height: 60px; width: 60px; background-color: darkgrey; border-radius: 50%;" %>
        <% end %>
      </div>
    </div>
    <div class="info-body">
      <div>
        <p>Year: <%= @caravan.year.nil? ? "N/A" : @caravan.year %> </p>
        <p>Fuel type: <%= @caravan.fuelType.nil? ? "N/A" : @caravan.fuelType.capitalize %></p>
        <p> Description: <%= @caravan.description %></p>
      </div>
      <div data-controller="booking-card">
        <%= render "components/booking_card" %>
      </div>
    </div>
  </div>
</div>
