<div class="caravans-show">
  <%# <div class="add-photo-btn"><%= link_to (@caravan.picture_url&.empty?)  ?  "Add picture" : "Change picture", edit_caravan_path(@caravan), class: "btn btn-primary" %>
  <%# </div> %>
  <h1><%= @caravan.model %></h1>
  <div class="d-flex justify-content-between">
    <div>
      <p><%= @caravan.location %></p>
    </div>
    <div>
      <p><%= @caravan.user.username %></p>
    </div>
  </div>
  <div class="show-images-container">
    <% if @caravan.photos.attached? %>
      <% @caravan.photos.each do |photo| %>
        <div class="photo-img" style="background-image: url('<%= cl_image_path photo.key, crop: :fill%>')"></div>
      <% end %>
    <% end %>
  </div>
  <div class="show-info-container">
    <div class="info-header d-flex justify-content-between">
      <div>
        <h3>Caravan rented out by <%= @caravan.user.username %></h3>
        <p><i class="fa-solid fa-user"></i> <%= @caravan.capacity %></p>
      </div>
      <div>
        <% if @caravan.user.profilePic.nil? %>
          <div style="height: 60px; width: 60px; background-color: darkgrey; border-radius: 50%;"></div>
        <% else %>
          <img src=<%= @caravan.user.profilePic %> alt="" class="avatar">
        <% end %>
      </div>
    </div>
    <div class="info-body">
      <div>
        <p>Year: <%= @caravan.year.nil? ? "N/A" : @caravan.year %> </p>
        <p>Fuel type: <%= @caravan.fuelType.nil? ? "N/A" : @caravan.fuelType %></p>
        <p> Description: <%= @caravan.description %></p>
      </div>
      <%= render "components/booking_card" %>
    </div>
  </div>
</div>
