<div class="caravans-user-listings">
  <h1>User listings</h1>
  <% if @caravans.empty? %>
    <h2>You have no caravans listed</h2>
  <% else %>
    <% @caravans.each do |caravan| %>
      <div class="user-listing">
        <div class="image-container">
          <% if caravan.photos.attached? %>
            <div class="photo-img" style="background-image: url('<%= cl_image_path caravan.photos.first.key, crop: :fill%>')"></div>
          <% end %>
        </div>
        <div class="content">
          <div>
            <div class="d-flex justify-content-between">
              <h2><%= caravan.model %></h2>
              <h4><span id="price">€ <%= caravan.price.to_i %></span> / day </h4>
            </div>
            <div>
              <h5><i class="fa-solid fa-location-dot"></i>  <%= caravan.location %></h5>
              <h5><i class="fa-solid fa-user"></i> <%= caravan.capacity %> people</h5>
              <h5><i class="fa-solid fa-droplet"></i> <%= caravan.fuelType %></h5>
              <h5><i class="fa-solid fa-clock"></i> <%= caravan.year %></h5>
            </div>
          </div>
          <div>
            <%= link_to "Edit", edit_caravan_path(caravan) , class: "btn btn-danger" %>
            <%= link_to "Delete", caravan_path(caravan) , class: "btn btn-danger", data: {"turbo-method": :delete} %>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
